MvcClient/Service References/ServiceReferencePerson/ServicePerson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePerson" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62167/ServicePerson.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62167/ServicePerson.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62167/ServicePerson.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicePersons" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePerson_GetPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="IServicePerson_GetPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePerson_CreateNewPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPerson" />
  </wsdl:message>
  <wsdl:message name="IServicePerson_CreateNewPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePerson_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IServicePerson_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePerson_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IServicePerson_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePerson">
    <wsdl:operation name="GetPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePerson/GetPersons" message="tns:IServicePerson_GetPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePerson/GetPersonsResponse" message="tns:IServicePerson_GetPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePerson/CreateNewPerson" message="tns:IServicePerson_CreateNewPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePerson/CreateNewPersonResponse" message="tns:IServicePerson_CreateNewPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePerson/DeletePerson" message="tns:IServicePerson_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePerson/DeletePersonResponse" message="tns:IServicePerson_DeletePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePerson/UpdatePerson" message="tns:IServicePerson_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePerson/UpdatePersonResponse" message="tns:IServicePerson_UpdatePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePerson" type="tns:IServicePerson">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction="http://tempuri.org/IServicePerson/GetPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewPerson">
      <soap:operation soapAction="http://tempuri.org/IServicePerson/CreateNewPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/IServicePerson/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IServicePerson/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePerson">
    <wsdl:port name="BasicHttpBinding_IServicePerson" binding="tns:BasicHttpBinding_IServicePerson">
      <soap:address location="http://localhost:62167/ServicePerson.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>